# Project exclude paths
/.gradle/
/Topics/Characters/Digits or not/out/
/Topics/Characters/Digits or not/out/production/classes/
/Topics/If expression/Healthy sleep/out/
/Topics/If expression/Healthy sleep/out/production/classes/
/Topics/If expression/The max of three numbers/out/
/Topics/If expression/The max of three numbers/out/production/classes/
/Topics/Standard output/Amount on the account/out/
/Topics/Standard output/Amount on the account/out/production/classes/
/Topics/Standard output/Print code/out/
/Topics/Standard output/Print code/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/While loops/The largest element/out/
/Topics/While loops/The largest element/out/production/classes/
/Topics/While loops/The length of the sequence/out/
/Topics/While loops/The length of the sequence/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/
/Zookeeper/task/build/
/Zookeeper/task/out/
/Zookeeper/task/out/production/classes/